doctype html
html(lang="en")
  head
    title Pilux
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    meta(name='description', content='Server to control my LED\'s')
    meta(name='author', content='Harvey Xia')
    script(src='socket.io.js')
    script(src='js/jquery-2.1.1.min.js')
    script(src='js/index.js')
    link(rel='stylesheet', href='css/index.css', type='text/css')
  body
    div#container
      div(id='message')
      button(type='button', id='green-on') Green On
      button(type='button', id='green-off') Green Off
      button(type='button', id='transition') Transition
      button(type='button', id='all-off') All Off
      div
        input#slider(type='range', min='0', max='400', value='0')
