doctype html
html(lang="en")
  head
    title Pilux
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    meta(name='description', content='Server to control my LED\'s')
    meta(name='author', content='Harvey Xia')
  body
      div.container
        p.
            This is some content blah blah