doctype html
html(lang="en")
  head
    title= Pilux
  body
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.