doctype html
html(lang="en")
  head
    title Pilux
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    meta(name='description', content='Server to control my LED\'s')
    meta(name='author', content='Harvey Xia')
    script(src='js/jquery-2.1.1.min.js')
    script(src='js/index.js')
    link(rel='stylesheet', href='css/index.css', type='text/css')
  body
    div#container
      if message
        h1= message
      form(name='greenOn', action='/?color=greenon', method='POST')
        input(type='submit', value='Green On')
      form(name='greenOff', action='/?color=greenoff', method='POST')
        input(type='submit', value='Green Off')
      div
        input#slider(type='range', min='0', max='400', value='0')